<fieldset>
    <legend><div class="title">Other Hash Tags:</div></legend>
    <div class="scrollableDiv">
        <table class="hashTagTable" cellspacing="0">
            {{each(i,tag) rHashTags}}
            <tr>
                <td class="hashtag" data-bind="css: { 'alt-row': i % 2 === 0 }" class="spacedRow label"><span class="label" data-bind="text: hashTag" /></td>
                <td data-bind="css: { 'alt-row': i % 2 === 0 }" class="spacedRow count"><span class="count" data-bind="text: count" /></td>
            </tr>
            {{/each}}
        </table>
    </div>
</fieldset>