<fieldset>
    <legend><div class="title">Associated Hash Tags:</div></legend>
    <div class="scrollableDiv">
        <table class="hashTagTable" cellspacing="0">
            {{each(i,tag) hashTags}}
            <tr>
                {{if i % 2 === 0}}
                    <td class="hashtag alt-row spacedRow label"><span class="label">${hashTag}</span></td>
                    <td class="spacedRow count alt-row"><span class="count">${count}</span></td>
                {{else}}
                    <td class="hashtag spacedRow label"><span class="label">${hashTag}</span></td>
                    <td class="spacedRow count"><span class="count">${count}</span></td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>
</fieldset>