<fieldset>
    <legend><div class="title">Top Mention-ers:</div></legend>
    <div class="scrollableDiv">
        <table cellspacing="0">
            {{each(i,mentioner) rMentioners}}
            <tr>
                <td data-bind="css: { 'alt-row': i % 2 === 0 }"><img class="images" data-bind="attr: { 'src': image }" /></td>
                <td data-bind="css: { 'alt-row': i % 2 === 0 }"><span class="label" data-bind="text: user" /></td>
                <td data-bind="css: { 'alt-row': i % 2 === 0 }"><span class="count" data-bind="text: count" /></td>
            </tr>
            {{/each}}
        </table>
    </div>
</fieldset>