<fieldset>
    <legend><div class="title">Top Mention-ers:</div></legend>
    <div class="scrollableDiv">
        <table cellspacing="0">
            {{each(i,mentioner) mentioners}}
            <tr>
                {{if i % 2 === 0}}
                    <td class="alt-row"><img class="images" src="${image}" /></td>
                    <td class="alt-row"><span class="label">${user}</span></td>
                    <td class="alt-row"><span class="count">${count}</span></td>
                {{else}}
                    <td><img class="images" src="${image}" /></td>
                    <td><span class="label">${user}</span></td>
                    <td><span class="count">${count}</span></td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>
</fieldset>