<fieldset>
    <legend><div class="title">Top Mentioned:</div></legend>
    <div class="scrollableDiv">
        <table cellspacing="0">
            {{each(i,mention) mentions}}
            <tr>
                {{if i % 2 === 0}}
                    <td class="alt-row"><img class="images" src="${image}" /></td>
                    <td class="alt-row"><span class="label">${user}</span></td>
                    <td class="alt-row"><span class="count">${count}</span></td>
                {{else}}
                    <td class=""><img class="images" src="${image}" /></td>
                    <td class=""><span class="label">${user}</span></td>
                    <td class=""><span class="count">${count}</span></td>
                {{/if}}
            </tr>
            {{/each}}
        </table>
    </div>
</fieldset>