<fieldset class="profperf-outer-container">
    <legend><div class="title">Profanity Rate:</div></legend>
    <div class="profperc-container">
        <div class="clearFloat prof-line">
            <div class="prof-label">Total:</div>
            <div class="prof-value">${total}</div>
        </div>
        <div class="clearFloat prof-line">
            <div class="prof-label">Explicit:</div>
            <div class="prof-value">${explicit}</div>
        </div>
        <div class="clearFloat"></div>
        <div class="prof-percent">
            <div class="prof-percent-label">Profanity Rate:</div>
            <div id="profPercentage" class="prof-percent-value">${percentage}%</div>
        </div>
    </div>
</fieldset>